/* css styles */

/* Logo placement */
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  max-height: 40px; /* Adjust as needed */
  margin-right: 8px; /* Space between logo and title */
}

